<!DOCTYPE html>
<html lang="en">
<head>
  <meta property="pikle:key" content="DNCLkdb0cr1gXpS0iRhd">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/style.css' | url }}">
</head>
<body>
  <header>
    <h1>{{ title }}</h1>
    <div>
      Products
    </div>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
  <div>This site demonstrates adding Comparison as a Service using the Pikle JS SDK and is not a store.</div>
  <a href="https://www.freepik.com/free-vector/laptop_3232494.htm#query=laptop%20icon&position=1&from_view=keyword">Laptop image by rawpixel.com</a> on Freepik
  <a href="https://www.flaticon.com/free-icons/work" title="work icons">Work icons created by Freepik - Flaticon</a>
  </footer>
  {% piklestatus 'fixed' %}
  {% piklejssdk 'DNCLkdb0cr1gXpS0iRhd' %}
</body>
</html>