<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:image" content="{{ img | url }}">
  <title>{{ title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/style.css' | url }}">
</head>
<body>
  <header>
    <h1>Pikle JS SDK Integration example - with Comparison Service</h1>
    <div>
      <a href="{{ '/' | url }}">Products</a> / {{ title }}
    </div>
  </header>
  <main>
    <h1>{{ title }}</h1>
    <div class="d-flex">
      <div class="mr-6">
        <img src="{{ img | url }}" width="150" height="150">
      </div>
      {% addtocart price, page.url, productId, true %}
    </div>
    <div class="container container--fluid">
      <div class="text-left section-text">
      {{ content | safe }}
      </div>
    </div>
  </main>
  <footer>
  <div>This site demonstrates adding Comparison as a Service using the Pikle JS SDK and is not a store.</div>
  <a href="https://www.freepik.com/free-vector/laptop_3232494.htm#query=laptop%20icon&position=1&from_view=keyword">Laptop image by rawpixel.com</a> on Freepik
  <a href="https://www.flaticon.com/free-icons/work" title="work icons">Work icons created by Freepik - Flaticon</a>
  </footer>
  {% piklestatus 'fab' %}
  {% piklejssdk 'eHqMlBPKQBPp355IxBXU', 'staging' %}
</body>
</html>